{% block title %}
    Vote Maximizer Testing ground
    <br>
    Styling & frontend here
    <br>
{% endblock %}

{% block address %}
    <br>
    address lookup testing ground <br>
    <br>
    <form>
        <label for="address">Address Input:</label><br>
        <input type="text" id="address" name="address"><br>
    </form>
{% endblock %}

{% block listout %}
    <br>
    text output testing ground <br>
    <br>
{% endblock %}

{% block map %}
    <br>
    map output testing ground <br>
    <br>
{% endblock %}


